<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
  <property name="hibernate.connection.url">jdbc:mysql://localHost/electronix</property>
    <property name="connection.username">root</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
 	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  	<property name="connection.password">yacine</property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>   
 	<property name="hibernate.hbm2ddl.auto">create</property>
 	
    <mapping class="fr.uvsq.bean.Adresse" />
    <mapping class="fr.uvsq.bean.Categorie" />
    <mapping class="fr.uvsq.bean.Client" />
    <mapping class="fr.uvsq.bean.Commande"/>
    <mapping class="fr.uvsq.bean.Facture"/>
    <mapping class="fr.uvsq.bean.LigneCommande"/>
    <mapping class="fr.uvsq.bean.Panier"/>
    <mapping class="fr.uvsq.bean.Produit" />
    
     
    
  </session-factory>
</hibernate-configuration>